:root{
    --color1:#fff;
    --color2:black;
    --color3:orange;
}
*, ::after, ::before{
    padding: 0;
    margin: 0;
 text-decoration: none;
 scroll-behavior: smooth;
 outline:none;
 list-style: none;
    box-sizing: border-box;
   font-family:'Parkinsans', Arial, Helvetica, sans-serif ; 
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  letter-spacing: 15px;
  text-transform: uppercase;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5); /* fond semi-transparent */
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  transition: 1s ease-in-out;
  font-size: clamp(15px, 4vw, 40px);
  font-weight: bold;
  z-index: 9999; /* assure-toi qu'il se trouve au-dessus du contenu */
}
.lettre{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  animation:anim-welcome 1.5s linear infinite;
}
@keyframes anim-welcome{
  0%{
      color:#484848;
      text-shadow: 0px 0px 7px yellow;
  }
  90%{
      color:yellow;
      text-shadow: none;
  }
  100%{
      text-shadow: none;
      color:#484848;
  }
}
.lettre:nth-child(1){
  animation-delay: 0.1s;
}
.lettre:nth-child(2){
  animation-delay: 0.2s;
}
.lettre:nth-child(3){
  animation-delay: 0.3s;
}
.lettre:nth-child(4){
  animation-delay: 0.4s;
}
.lettre:nth-child(5){
  animation-delay: 0.5s;
}
.lettre:nth-child(6){
  animation-delay: 0.6s;
}
.lettre:nth-child(7){
  animation-delay: 0.7s;
}
.lettre:nth-child(8){
  animation-delay: 0.8s;
}
.lettre:nth-child(9){
  animation-delay: 0.9s;
}
.lettre:nth-child(10){
  animation-delay: 01s;
}
.lettre:nth-child(11){
  animation-delay: 1.1s;
}
.lettre:nth-child(12){
  animation-delay: 1.2s;
}
.lettre:nth-child(13){
  animation-delay: 1.3s;
}
img{
  transition: .2s ease-in-out;
}
img:hover{
  filter: grayscale(100%);
}
.section-heading{
  text-align: center;
  margin: 3rem 0;
}
.section-heading span{
  color:var(--color3);
  font-weight: 500;

}
.section-heading h2{
  font-size: clamp(25px, 4vw, 50px);
}
header{
 z-index: 1000;
    height: 15vh;
    box-shadow: 0px 3px 5px var(--color3);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
   background-color: var(--color1);
}
       header ul{
        display: flex;
        margin: 0 auto;
        align-items: center;
        gap:30px;
        justify-content: start;
        /* justify-content: space-between; */
        padding-left: 0;
        padding-top: 15px;
       }
       header div{
        display: flex;
        align-items: center;
        gap:30px;
       }
       /* header div i{
        font-size: 1.6rem;
     
        cursor: pointer;
       } */
       /* header div i:hover{
        transition: .5s ease-in-out;
        color:var(--color3);
       } */
       header ul li{
        align-items: center;
      
     
       }
      
        
       header ul li a{
        position: relative;
        text-transform: lowercase;
     
        color:var(--color2);
        transition: 1s ease-in-out;
        font-size:1.5rem;
       }
       header ul li a::after{
        content:"";
        left: 0;
        background-color: var(--color3);
        height: 2px;
        width: 0%;
        position: absolute;
        color:var(--color3);
       }
       header ul li a::before{
        content:"";
        background-color: var(--color3);
      height: 2px;
       width: 0%;
       bottom: 0;
       position: absolute;
      color:var(--color3);
       }
       header ul li a:hover::after, header ul li a:hover::before{
       width: 100%;
       transition: .5s ease-in-out;
       }

       .icone1{
        background-color: var(--color3);
        border-radius: 50%;
        display: flex;
        align-items: center;
        margin-top: 40px;
        margin-left: 30px;
        width: 40px;
        height: 40px;

       }
       
       #first-section{
background: url("./photo2/bg-home.jpg") center;
width: 100%;
height: 100vh;
margin: 0 auto;
padding-left: 30px;

padding-top: 120px;
       }
       h1{
color:var(--color3);
font-family: "Parisienne", serif;
  font-weight: 400;
  font-style: normal;
font-size: 2.7rem;
       }
       .text-location{
        
        color:var(--color1);
        text-transform: capitalize;
        font-size: 1.8rem;
       }
    #first-section p{
        color:var(--color1);
        padding-top: 15px;
    }
    .reseaux{
        display: flex;
        gap:30px;
    }
    .reseaux img{
        width: 150px;
        transition: 1s ease-in-out;
    }
    .reseaux img:hover{
        background-color: var(--color1);
        padding: -10px;
        border-radius: 20px;
    }
    form{
        width: 90%;
        height: 150px;
        align-items: center;
        margin: 0 auto;

        padding-bottom: 10px;
        background-color: var(--color1);
        border-radius: 8px;
        
    }
    .container-formulaire1{
        width: 100%;
        display: flex;
        justify-content: space-around;
       padding-bottom: 0px;
        padding-top: 30px;
        margin: 20px;

    }
    
   form input[type="text"]{
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    border:1px solid  var(--color2);
   }
   form input[type="date"]{
    padding: 10px;
    border-radius: 5px;
    padding: 10px;
    border:1px solid  var(--color2);
   }
   form label{
    text-align: center;
    align-items: center;
    margin: 0 auto;
   }
input{
  transition: 1s ease-in-out;
}
   input:hover{
    background-color: var(--color3);
   }
   #second-section{
    width: 100%;
    
   
   }
   .title-h2{
    padding-top: 40px;
    font-size: 2rem;
    color:var(--color3);
    font-weight: 100;
    text-align: center;
   }
   .sous-title-h2{
    padding-top: 10px;
    font-size: 1.6rem;
    text-align: center;
   }
   .location{
    display: flex;

    padding:0px 30px;
    gap:04%;
   }
   .child_location{
    width: 30%;
    padding: 7px;
    box-shadow: 0px 3px 5px var(--color3);
    border-radius: 5px;
    border-top: 1px solid var(--color3);
    border-bottom:1px solid var(--color3) ;
   }
   .child_location img{
   margin: 0 auto;
   display: flex;
   left: 50px;
   }
   .child_location h3{
    font-size: 1rem;
    text-align: center;
   }
  
   .prestations{
    padding-top: 19px;
    text-align: center;
    color:var(--color3);
    font-weight: 200;
    font-size: 1.8rem;
   }
   .decouverte{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 19px;
    font-size: 1.5rem;
   }
   .father-car{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}
.child_car{
    
    align-items: center;
       box-shadow: 0px 3px 5px var(--color3);
       border-radius: 5px;
       border-top: 1px solid var(--color3);
       width: 30%;
    }
    .child_car h5{
        transition: 1s ease-in-out;
        cursor: pointer;
    }
    .child_car h5:hover{
background-color: var(--color2);
color:var(--color1);
transform: scale(0.9);
border-radius: 10px;
    }
    .child_car h3, h4, h5,.text-third-section{
       padding-left: 15px;
      text-align: center;
       margin: 07px;
       padding-bottom: 15px;
       padding: 5px;
       

   }
   .child_car h3, h4, h5, .text-third-section{
    border-radius: 5px;
   
    border: 1px solid var(--color3);
   }
   .child_car img{
    width: 100%;
    background-color: #fff;
   transition: 1s ease-in-out;
    height: 200px;
   }
   .child_car img:hover{
  transform: rotateY(180deg);
   }


/* section comment sa marche */
.cars-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}
.cars-container .box-car{
  text-align: center;
  padding: 20px;
  position: relative;
  background-color: #fff;
  transition: background 1s ease-in-out;

}


.cars-container .box-car img:hover{
  color:var(--color3);
}
.cars-container .box-car::before, .cars-container .box-car::after{
  content:"";
  height:50%;
  width: 50%;
  z-index: -2;
  position: absolute;
  transition: width 0.2s ease-in-out;

  
  background-color: var(--color3);
}
.cars-container .box-car::before{
top: -0.2rem;
left:-0.2rem;
}
.cars-container .box-car::after{
  bottom: -0.2rem;
  right: -0.2rem;
}
.cars-container .box-car:hover{
  background-color: #cacaca;
}
.cars-container .box-car:hover::before, .cars-container .box-car:hover::after{
  width: 100%;
  height: 100%;
  transition: width 1s ease-in-out, height 1s ease-in-out;
}

.cars-container .box-car:hover::before{
  background-color: rgb(243, 173, 148);
}

   #section-fourth{
    padding-top: 20px;
   }
   .about{
    border: none;
    text-transform: capitalize;
    font-size: 1.2rem;
   }
   .sommes-nous{
    text-align: center;
    font-weight: 200;
    padding-bottom: 10px;
    color:var(--color3);
   }
   .history{
    text-align: center;
   }
   .father-history{
    display: grid;
    gap:50px;
    min-height: 100vh;
  
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
   }
   .father-history p{
    height: 200px;
    overflow: auto;
   }
   .father-history div img{
    width: 100%;
   
   }
   .savoir-plus{
    
    color:var(--color1);
    width: 40%;
    display: flex;
    box-shadow: 0px 3px 1px var(--color3);
    margin: 15px auto;
    font-weight: 100;
    text-transform:capitalize ;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    animation: savoir-anim 1s linear infinite;
    font-size: 1rem;
    transition: 1s ease-in-out;
    background-color: var(--color3);
    border: 1px solid var(--color3);
    border-radius: 5px;
   }
   .savoir-plus:hover{
    transform: scale(0.9);
    background-color: var(--color2);
   }
   @keyframes savoir-anim{
    0%{
      transform: translateY(30px);
      box-shadow: 0px 10px 9px var(--color3);
    }
   }
   .avis{
    text-align: center;
   }
   .text-confiance{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
   }
   .father-temoignage{
    display: flex;
    justify-content: space-around;
   }
   .father-temoignage div{
    border-radius: 7px;
    padding: 10px 20px;
    box-shadow: 0px 3px 5px var(--color3);
    border: 1px solid var(--color3);
    width: 30%;
   }
   .father-temoignage div p{
    text-align: justify;
   }

   .avis-img{
width: 100px;
margin: 0 auto;
display: flex;
height: 100px;

border-radius: 50%;
   }
   .name{
    border: none;
   }
  
 .sixth-section{
    padding-top: 50px;
 }
 .sixth-section form{
    background-color: var(--color3);
    text-align: center;
    padding-top: 50px;
 }
 .sixth-section form label{
    font-size: 1.4rem;
 }
 .sixth-section form input[type="email"], button{
    padding: 5px 10px;
    border: none;
   text-align: center;
   border-radius: 5px;
   font-size: 1.2rem;
 }
 
 button{
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 20px;
    transition: 1s ease-in-out;
    width: 20%;
 }
 button:hover{
    background-color: var(--color2);
    color:var(--color1);
    border-radius: 20px;
 }

 footer{
    background-color: var(--color2);
    padding-top: 30px;
 }
 footer h2{
    color:var(--color3);
 }
 footer p{
  line-height: 30px;
  text-align: center;

    color:var(--color1);
 }
 footer h3{
    color:var(--color1);
    text-align: center;
    font-size: 1.2rem;
    font-family:'Parkinsans';
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 100;
 }
.child-footer{
    display: flex;
    justify-content: space-around;
}
.avis-img{
  transition: 1s ease-in-out;
}
.avis-img:hover{
  transform: rotateY(180deg);
}
@media screen and (max-width:700px) {
   .location{
    flex-direction: column;
   }
   .child_location{
    width: 100%;
    padding: 20px;
   }
   footer{
    padding-left: 30px;
   }
   .savoir-plus{
    width: 100%;
    padding-right: 5px;
   }
  .father-temoignage{
    flex-direction: column;
    gap: 20px;
    
  }
  .father-temoignage div{
    width: 100%;
  }
  .father-car{
    gap: 30px;
    flex-direction: column;
  }
  .child_car{
    width: 100%;
  }
  form{
    height: 200px;
  }
.container-formulaire1{
    flex-wrap:wrap ;
    height: auto;
    padding: 10px;
    padding-bottom: 20px;
    gap: 10px;
  }
  #first-section{
    height: 120vh;
  }
 
  .child-footer{
    flex-direction: column;
  }
  .child-footer div{
    width: 100%;
    text-align: center;
  }
  .child-footer div:nth-child(3){
    padding-top: 10px;
  }
  .child-footer div:nth-child(2){
    padding-top: 10px;
  }
  .none2{

  font-weight: 400;
  font-style: normal;
  }
}




/* section prestations */
.container-prestations{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  margin: 0 auto;
  background-color:var(--color1) ;
  width: 90%;
  padding-left: 30px;
  padding-right: 30px;
}
.container-box{
 border-radius: 7px;
 padding: 10px;
 box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);

}
.container-prestations .images img{
height: 90%;
cursor: pointer;
width: 100%;
transition: 1s ease-in-out;
object-fit: cover;
object-position: center;
margin-bottom: 25px;
border-radius: 7px;
}
.container-prestations .images img:hover{
  transform: rotateY(360deg);
}
.container-box .annee{
  background-color: var(--color3);
  padding: 5px 15px;
  color:var(--color1);
margin-bottom: 10px;

  border-radius: 20px;
}

.container-box .prix{
  padding: 20px;
  padding-top: 3px;
  padding-left: 5px;
  color:var(--color3);
  display: inline-block;
}
.container-box h5{
  border: none;
  font-size: 1.2rem;
  text-align:left;
  color:var(--color2);
}
.container-box button{
  width: 100%;
  margin: 0;
 
  background-color: var(--color3);
  color:var(--color1);
}
.container-box button:hover{
  background-color:orangered;
  transition: background 0.5s ease-in-out;
  border-radius: 5px;
}

@media screen and (max-width:500px){
  #section-fourth .father-history{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  #section-fourth .father-history img{
    width: 400px;
    height: auto;
  }
}

/* partie swiper style */

.swiper {
  max-width: 600px;
  height: 300px;
}
.et-a-decouvrir{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.swiper-slide{
  width: 100%;
  height: 100%;
}
.swiper-slide img{
  object-fit: cover; 
   object-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.active4{
  border: 2px dashed var(--color3);
  padding: 7px;
}

header .menu-b{
 display: none;
}
@media screen and (max-width:1040px){
  header .menu-b{
    cursor: pointer;
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    right: 20px;
   }
   header ul{
    position: absolute;
    display: flex;
    top:16vh;
    gap: 15px;
    background-color: var(--color1);
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
    height: 470px;
    width: 350px;
    left: -100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: 1s ease-in-out;
    border-bottom-right-radius: 70px;
   }
  .active{
    position: absolute;
    left: 0;
    transition: 1s ease-in-out;
  }
}

  /* Pour les navigateurs WebKit (Chrome, Edge, Safari) */

  body::-webkit-scrollbar {
    width: 12px; 
  }
  
  body::-webkit-scrollbar-track {
    background: #000; 
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #fff; 
    border-radius: 10px; 
    border: 3px solid #000; 
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color: #e0e0e0; 
  } 
   
  


